<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/SAMUEL/Documents/TestCodeCamp_Programme/Submissions/TestifyFinalProject/KongaTask">
        <classes>
            <class name="KongaTask.OrderManagementTests">
            <methods>
                <include name="loginTest"/>
                <include name="productOrderTest"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>